page-signup {
  .header-image {
    height: 120px;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
    justify-content: center;
    img {
      width: 10rem;
    }
  }
  .header-t {
    height: 38.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    h1 {
      font-size: 2rem;
      text-align: center;
      margin: 0px;
      font-weight: 550;
      color: rgb(255, 255, 255);
    }
  }
  .divider {
    height: 20px;
  }
  .userConsent {
    margin-top: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    .description {
      margin-left: 8px;
      color: white;
    }
  }
  .item-md,
  .item-ios {
    padding-left: 0;
  }
  .full-button {
    border: 2px rgba(120, 120, 120, 1.0) solid;
    background-color: rgba(120, 120, 120, 1.0);
    span {
      color: rgba(255, 255, 255, 1.0);
    }
  }
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem 1.5rem 1.5rem;
    form {
      flex-grow: 1;
    }
    p, p a {
      font-size: 1.3rem;
    }
    ion-label {
      font-size: 1.7rem;
      font-weight: 500;
      margin-top: 0;
      margin-left: 0.5rem;
      margin-bottom: -2%;
    }
    ion-input {
      color: rgba(255, 255, 255, 1.0);
    }
  }
}
