<button class="list-button" no-lines>
  <div class="item-title" (click)="gotoDevicePage()">
    <ion-grid class="toggle-grid">
      <ion-row align-items-center class="device-block">
        <ion-col col-4 class="none-padding">
          <img class="thumb-image" jy-lazy-load [source]="deviceCore.uri"
            placeholder="assets/img/model_image_thumbnail.png">
        </ion-col>
        <ion-col col-8 class="none-padding">
          <ion-row align-items-center>
            <h1 class="device-name">{{ deviceCore.name }}</h1>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</button>