page-forgot-password {
  .header-image {
    height: 120px;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
    justify-content: center;
    img {
      width: 10rem;
    }
  }
  .header-t {
    height: 38.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 2rem;
      text-align: center;
      margin: 0px;
      font-weight: 500;
      color: rgb(255, 255, 255);
    }
  }
  .divider {
    height: 20px;
  }
  .description {
    margin: 0;
    margin-top: -20px;
    color: rgb(255, 255, 255);
  }
  .item-md,
  .item-ios {
    padding-left: 0;
  }
  .bottom-logo {
    position: absolute;
    bottom: 0;
    text-align: center;
  }
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    form {
      flex-grow: 1;
    }
    p, p a {
      font-size: 1.3rem;
      font-weight: 500;
    }
    ion-input {
      color: rgb(255, 255, 255);
    }
    ion-label {
      font-size: 1.7rem;
      font-weight: 500;
    }
  }
  .reset-button {  
    border: 1.4px rgba(0, 122, 250, 1.0) solid;
    border-radius: 10px;
    margin-bottom: 5%;
    height: 5.7rem;
    background-color: rgba(0, 122, 250, 1.0);
    span {
      font-weight: 560;
      font-size: 1.7rem;
      color: rgba(255, 255, 255, 1.0);
    }
  }
}
